In [1]:
import pandas as pd
import numpy as np
import os 
import time

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

from multiprocessing import Pool

In [6]:
# 读取数据
data_all = pd.read_csv("data_all.csv")
data_extra = pd.read_csv("data_extra.csv")

# 删去无用的第一列

In [ ]:
# 筛选数据
# 以[时间、特征、地点]重新组织数据
data_ti_fea_loc = []

In [8]:
data_all

,Unnamed: 0,date,hour,type,东四,天坛,官园,万寿西宫,奥体中心,农展馆,...,密云水库,东高村,永乐店,榆垡,琉璃河,前门,永定门内,西直门北,南三环,东四环
0,0,20140101,0,PM2.5,35.0,32.0,45.0,66.0,20.0,31.0,...,NaN,21.0,110.0,90.0,136.0,75.0,66.0,35.0,84.0,45.0
1,1,20140101,0,PM2.5_24h,53.0,50.0,53.0,59.0,51.0,51.0,...,NaN,53.0,112.0,143.0,148.0,74.0,62.0,50.0,68.0,43.0
2,2,20140101,0,PM10,114.0,110.0,151.0,175.0,90.0,117.0,...,NaN,53.0,169.0,92.0,323.0,147.0,182.0,112.0,175.0,172.0
3,3,20140101,0,PM10_24h,131.0,124.0,147.0,151.0,221.0,153.0,...,NaN,128.0,199.0,120.0,290.0,NaN,150.0,131.0,128.0,158.0
4,4,20140101,0,AQI,91.0,87.0,99.0,101.0,136.0,102.0,...,61.0,89.0,146.0,190.0,197.0,99.0,100.0,91.0,92.0,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270608,115,20200509,23,PM2.5,48.0,43.0,45.0,46.0,45.0,45.0,...,26.0,48.0,54.0,33.0,44.0,38.0,32.0,53.0,43.0,47.0
270609,116,20200509,23,PM2.5_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270610,117,20200509,23,PM10,61.0,NaN,53.0,50.0,52.0,58.0,...,30.0,66.0,79.0,64.0,57.0,57.0,40.0,NaN,62.0,77.0
270611,118,20200509,23,PM10_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270612,119,20200509,23,AQI,66.0,60.0,63.0,64.0,63.0,63.0,...,37.0,66.0,74.0,57.0,61.0,54.0,46.0,73.0,60.0,65.0

In [9]:
data_extra

,Unnamed: 0,date,hour,type,东四,天坛,官园,万寿西宫,奥体中心,农展馆,...,密云水库,东高村,永乐店,榆垡,琉璃河,前门,永定门内,西直门北,南三环,东四环
0,0,20140402,0,SO2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20140402,0,SO2_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20140402,0,NO2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20140402,0,NO2_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20140402,0,O3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415417,187,20200509,23,NO2_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415418,188,20200509,23,O3,2.0,1.0,8.0,2.0,8.0,3.0,...,41.0,1.0,1.0,19.0,6.0,2.0,1.0,5.0,2.0,1.0
415419,189,20200509,23,O3_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415420,190,20200509,23,CO,1.1,0.9,0.9,0.9,0.9,0.9,...,0.5,1.0,0.9,0.8,0.8,1.1,1.0,1.0,1.0,0.9
415421,191,20200509,23,CO_24h,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN